DATA:
  dataset_name: "credit_default"
  raw_path: "../data/credit/default of credit card clients.xls"
  file_type: "xls"
  excel:
    header: 1
  target_col: "default payment next month"
  positive_label: 1
  negative_label: 0
  use_kfold: true
  kfold:
    n_splits: 5
    shuffle: true
    random_state: 42

PREPROCESS:
  handle_missing: "simple"
  fillna_strategy: "median"
  continuous_cols:
    - "LIMIT_BAL"
    - "AGE"
    - "BILL_AMT1"
    - "BILL_AMT2"
    - "BILL_AMT3"
    - "BILL_AMT4"
    - "BILL_AMT5"
    - "BILL_AMT6"
    - "PAY_AMT1"
    - "PAY_AMT2"
    - "PAY_AMT3"
    - "PAY_AMT4"
    - "PAY_AMT5"
    - "PAY_AMT6"
  categorical_cols:
    - "SEX"
    - "EDUCATION"
    - "MARRIAGE"
    - "ever_delay"
    - "max_delay_bin"
  drop_cols:
    - "ID"
  scaler_type: "standard"
  feature_engineering:
    enable_credit_default_derived: true
    pay_status_cols: ["PAY_0", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6"]
    derive_ever_delay_col: "ever_delay"
    derive_max_delay_col: "max_delay"
    derive_max_delay_bin_col: "max_delay_bin"
    max_delay_bins: [-0.1, 0, 2, 4, 9]
    max_delay_labels: ["0", "1-2", "3-4", "5+"]

SCORE:
  bucket_score_mode: "f1_regret_bnd"
  f1_weight: 1.0
  regret_weight: 1.0
  bnd_weight: 0.5

BTTWD:
  bucket_levels:
    - level: 1
      name: "L1_ever_delay"
      type: "numeric_bin"
      col: "ever_delay"
      bins: [0.5]
      labels: ["no_delay", "has_delay"]

    - level: 2
      name: "L2_max_delay_bin"
      type: "categorical_group"
      col: "max_delay_bin"
      groups:
        none: ["0"]
        mild: ["1-2"]
        medium: ["3-4"]
        severe: ["5+"]
      default_group: "OTHER"

    - level: 3
      name: "L3_limit_bal"
      type: "numeric_bin"
      col: "LIMIT_BAL"
      bins: [80000, 200000]
      labels: ["low_limit", "mid_limit", "high_limit"]
  min_bucket_size: 200
  max_levels: 3
  use_gain: true
  min_gain_for_split: 0.0
  gamma_bucket: 0.0
  bucket_subsample: 1.0
  max_train_samples_per_bucket: 50000
  val_ratio: 0.2
  min_val_samples_per_bucket: 50
  use_global_backoff: true
  global_estimator: "logreg"
  bucket_estimator: "none"
  posterior_estimator: "logreg"
  logreg_C: 1.0

THRESHOLDS:
  thresholds_mode: "bucket_wise"
  objective: "regret"
  alpha_grid: [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
  beta_grid: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5]
  gap_min: 0.1
  costs:
    C_TP: 0.0
    C_TN: 0.0
    C_FP: 0.75
    C_FN: 1.5
    C_BP: 0.75
    C_BN: 0.25
  min_samples_for_thresholds: 100

BASELINES:
  use_logreg: true
  use_random_forest: false
  use_knn: false
  use_xgboost: false
  common:
    threshold_mode: "fixed"
    fixed_threshold: 0.4
  logreg:
    C: 1.0
    max_iter: 300
    use_custom_threshold: true
    custom_threshold: 0.4

EXP:
  kfold_repeats: 1
  n_jobs: -1
  verbose: 1

METRICS:
  use_metrics: ["Precision", "Recall", "F1", "BAC", "AUC", "MCC", "Kappa", "Regret"]
  pos_label: 1

OUTPUT:
  results_dir: "results/credit_default_bttwd"
  figs_dir: "figs"
  save_per_fold_metrics: true
  save_bucket_metrics: true
  save_config_copy: true
  save_threshold_logs: true
  threshold_log_filename: "bucket_thresholds_per_fold.csv"

SEED:
  global_seed: 42
